.appcontainer {
  height: 100vh;
  display: grid;
  background-color: var(--bg-main);
  background-image: url('src/app/components/assets/Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: var(--text-color);
  text-align: center;
}

.img {
  position: absolute;
}
