.appcontainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 4em 3em 3em 1fr;
  gap: 0.25rem;
  background-color: var(--bg-main);
  background-image: url('src/app/components/assets/Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: var(--text-color);
  text-align: center;
}

.navcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttoncontainer {
  width: 120px;
}

.img {
  position: absolute;
}
